<section id="contact" class="section scrollspy full-height">
    <h3 class="page-title white-text teal">Contact</h3>
    <div class="container">
      <p>
        <a href="mailto:k3smith@odu.edu" class="btn-floating btn-large waves-effect waves-light blue-grey">
          <i class="fa fa-envelope"></i>
        </a>
        <a href="mailto:k3smith@odu.edu">k3smith@odu.edu</a>
      </p>
      <p>
        <a href="https://github.com/k3smith" target="_blank" class="btn-floating btn-large waves-effect waves-light blue-grey">
          <i class="fa fa-github"></i>
        </a>
        <a href="https://github.com/k3smith" target="_blank">GitHub</a>
      </p>
      <p>
        <a href="http://linkedin.com/in/katherine-smith-656171128/" target="_blank" class="btn-floating btn-large waves-effect waves-light blue-grey">
          <i class="fa fa-linkedin"></i>
        </a>
        <a href="http://linkedin.com/in/katherine-smith-656171128/" target="_blank">LinkedIn</a>
      </p>
    </div>
  </section>
  