<section id="education" class="section scrollspy">
    <h3 class="page-title white-text teal">Education</h3>
    <div class="container">
      <div class="row">
        <div class="col s12 m6 l6">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Old Dominion University</span>
              <p class="brown-text">Norfolk, Virginia</p>
              <p><b>Ph.D. in Modeling & Simulation</b><br><em>August 2022</em></p>
              <p><b>M.S. in Applied and Computational Mathematics</b><br><em>December 2009</em></p>
              <p><b>B.S. in Mechanical Engineering</b><br><em>December 2008</em></p>
              <p><b>B.S. in Applied Mathematics</b><br><em>December 2008</em></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  