<section id="experience" class="section scrollspy">
    <h3 class="page-title white-text teal">Experience</h3>
    <div class="container">

      <!-- Latest Experience -->
      <div class="card">
        <div class="card-content">
          <div class="row">
            <div class="col s12 m2">
              <a href="https://digitalmaritime.org/" target="_blank"><img alt="VDMC logo"
                  src="/assets/img/VDMC Big Logo.png" class="responsive-img center-block" /></a>
            </div>
            <!-- <div class="col s12 m10"> -->
            <div class="col s12 m10">
              <p>
                <span class="card-title"><a href="https://digitalmaritime.org/" target="_blank"
                    class="teal-text hoverline">ODU VDMC</a></span>
              </p>
            </div>
          </div>
          <div class="role brown-text text-darken-2">Research Assistant Professor</div>
        </div>
        <div class="card-action">
          <span>July 2022 - Present | Suffolk, Virginia, USA</span>
        </div>
      </div>

      
      <div class="card">
        <div class="card-content">
          <div class="row">
            <div class="col s12 m2">
              <a href="https://www.odu.edu/electrical-computer-engineering" target="_blank"><img alt="Meditab logo"
                  src="/assets/img/BCET.jpg" class="responsive-img center-block" /></a>
            </div>
            <!-- <div class="col s12 m10"> -->
            <div class="col s12 m10">
              <p>
                <span class="card-title"><a href="https://www.odu.edu/electrical-computer-engineering" target="_blank"
                    class="teal-text hoverline">ODU ECE</a></span>
              </p>
            </div>
          </div>
          <div class="role brown-text text-darken-2">Adjunct Assistant Professor</div>
          <ul>
            <li>
              Taught undergrdaduate and graduate courses Electrical and Computer Engineering and Modeling and Simulation.
            <li>
                Courses taught: 
                <ul>
                
            <li>Introduction to Game Development</li>
            <li>Computer Graphics and Visualization</li>
            <li>Simulation Formalisms</li>
            <li>Probability, Statistics and Reliability</li>
            <li>Simulation Fundamentals</li>
        </ul>
            </li>
            
              <b>Tools:</b> Python, Unity, MonoGame, Arena, OpenGL, C++, C#
            </li>
          </ul>
        </div>
        <div class="card-action">
            <span>August 2022 - Present | Norfolk, Virginia, USA</span>
        </div>
      </div>
     
  </section>

  <script>
    $(function () {
  var includes = $('[data-include]')
  $.each(includes, function () {
    var file = 'experience/' + $(this).data('include') + '.html'
    $(this).load(file)
  })
})
  </script>