<!-- Side Navigation (Desktop) -->
<nav class="hide-on-small-only">
    <ul class="side-nav fixed section table-of-contents">
      <li class="logo">
        <a id="logo-container" href="#intro" class="brand-logo grey-blue-text">
          <img src="/assets/img/covaSquare.jpg" class="circle img-responsive profile-pic" alt="avatar">
        </a>
      </li>
      <li class="bold">
        <a href="#about" class="waves-effect waves-dark teal-text">
          <i class="mdi-social-person small"></i><span>About</span>
        </a>
      </li>
      <li class="bold">
        <a href="#experience" class="waves-effect waves-dark teal-text">
          <i class="mdi-action-trending-up small"></i><span>Experience</span>
        </a>
      </li>
      <li class="bold">
        <a href="#projects" class="waves-effect waves-dark teal-text">
          <i class="mdi-av-my-library-books small"></i><span>Projects</span>
        </a>
      </li>
      <li class="bold">
        <a href="#skills" class="waves-effect waves-dark teal-text">
          <i class="mdi-action-assessment small"></i><span>Skills</span>
        </a>
      </li>
      <li class="bold">
        <a href="#education" class="waves-effect waves-dark teal-text">
          <i class="mdi-social-school small"></i><span>Education</span>
        </a>
      </li>
      <li class="bold">
        <a href="#contact" class="waves-effect waves-dark teal-text">
          <i class="mdi-content-mail small"></i><span>Contact</span>
        </a>
      </li>
      <!-- <li class="bold">
        <a href="https://KatieSmith.github.io/assets/resume/Katie_Smith_Resume.pdf" target="_blank" class="waves-effect waves-dark teal-text">
          <i class="mdi-file-folder-open small"></i><span>Resume</span>
        </a>
      </li> -->
    </ul>
  </nav>
  
  <!-- Mobile Top Nav -->
  <nav class="hide-on-large only trigger z-depth-1">
    <a href="#" data-activates="slide-out" class="button-collapse">
      <i class="mdi-navigation-menu"></i>
    </a>
    <div class="name-title">
      <a id="name" href="#intro" class="teal-text">Katherine Smith</a>
      <span class="black-text">Research Assistant Professor</span>
    </div>
  </nav>
  
  <!-- Mobile Slide-Out Nav -->
  <nav class="hide-on-large only">
    <ul id="slide-out" class="side-nav">
      <li class="bold"><a href="#about" class="waves-effect waves-dark teal-text"><i class="mdi-social-person small"></i><span>About</span></a></li>
      <li class="bold"><a href="#experience" class="waves-effect waves-dark teal-text"><i class="mdi-action-trending-up small"></i><span>Experience</span></a></li>
      <li class="bold"><a href="#projects" class="waves-effect waves-dark teal-text"><i class="mdi-av-my-library-books small"></i><span>Projects</span></a></li>
      <li class="bold"><a href="#skills" class="waves-effect waves-dark teal-text"><i class="mdi-action-assessment small"></i><span>Skills</span></a></li>
      <li class="bold"><a href="#education" class="waves-effect waves-dark teal-text"><i class="mdi-social-school small"></i><span>Education</span></a></li>
      <li class="bold"><a href="#contact" class="waves-effect waves-dark teal-text"><i class="mdi-content-mail small"></i><span>Contact</span></a></li>
      <li class="bold"><a href="https://KatieSmith.github.io/assets/resume/Katie_Smith_Resume.pdf" target="_blank" class="waves-effect waves-dark teal-text"><i class="mdi-file-folder-open small"></i><span>Resume</span></a></li>
    </ul>
  </nav>
  