<section id="projects" class="section scrollspy">
  <h3 class="page-title white-text teal">Projects</h3>
  <div class="container">
    <div class="row">

      <!-- Trusted Decision-Making System -->
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img alt="Securing the Cyber-Physical Ecosystem in Smart Ports" src="/assets/img/autonomous-driving.png" style="width: 100%" />
            <span class="card-title teal-text"  style="background-color: #ffffffcc;">Securing the Cyber-Physical Ecosystem in Smart Ports</span>
          </div>
          <div class="card-content">
            <p>
              Developing a simulation-based framework to enhance the cybersecurity and resilience of interconnected operational technology and autonomous vehicle systems within modern port environments.
            </p>
            <p><b>Years:</b> 2021–Present</p>
          </div>
          <div class="card-action">
            <a href="/projects/port-cps/index.html" class="btn-floating btn-large waves-effect waves-light teal">
              <i class="fa fa-external-link"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
          <div class="card hoverable">
            <div class="card-image">
              <img alt="ODIN" src="/assets/img/odin.jpg" style="width: 100%" />
              <span class="card-title teal-text"  style="background-color: #ffffffcc;">ODIN</span>
            </div>
            <div class="card-content">
              <p>
                Operationally Directed Instructional Network (ODIN) delivers advanced web-based tools and resources for the maritime workforce and Navy training programs.
              </p>
              <p><b>Years:</b> 2020–2025</p>
              <p><b>Role:</b> Principal Investigator</p>
            </div>
            <div class="card-action">
              <a href="/projects/odin/index.html" class="btn-floating btn-large waves-effect waves-light teal">
                <i class="fa fa-external-link"></i>
              </a>
            </div>
          </div>
      </div>
      

      <!-- Contribute, Approve, Curate, Hyper-distribution Engine -->
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img alt="Hyper-distribution Engine" src="/assets/img/cache.jpg" style="width: 100%" />
            <span class="card-title teal-text"  style="background-color: #ffffffcc;">Contribute, Approve, Curate, Hyper-distribution Engine</span>
          </div>
          <div class="card-content">
            <p>
              A platform for managing and distributing training and operational content through a curated, decentralized network for Navy and defense applications.
            </p>
            <p><b>Years:</b> 2021–2024</p>
            <p><b>Role:</b> Principal Investigator</p>
          </div>
        </div>
      </div>

      <!-- Real-Time Dependency Network for Cyber Risks -->
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img alt="Cyber Dependency Network" src="/assets/img/cyber-risk.jpg" style="width: 100%" />
            <span class="card-title teal-text" style="background-color: #ffffffcc;">Real-Time Cyber Dependency Network Analysis</span>
          </div>
          <div class="card-content">
            <p>
              Developing a real-time simulation framework to quantify risks and ripple effects from cyberattacks in shipbuilding and repair supply networks.
            </p>
            <p><b>Years:</b> 2021–2024</p>
            <p><b>Role:</b> Co-Principal Investigator</p>
          </div>
        </div>
      </div>

      <!-- CIMA Recovery -->
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img alt="CIMA Recovery" src="/assets/img/CIMALogo.png" style="width: 100%" />
            <span class="card-title teal-text"  style="background-color: #ffffffcc;">CIMA Recovery</span>
          </div>
          <div class="card-content">
            <p>
              In partnership with Hampton Roads Community Foundation, ODU, Norfolk, and Portsmouth, the CIMA platform addresses disaster recovery challenges by matching resources, inventory, and housing needs for vulnerable communities.
            </p>
            <p><b>Years:</b> 2024–Present</p>
            <p><b>Role:</b> Software Development Lead</p>
          </div>
          <div class="card-action">
            <a href="/projects/cima/index.html" class="btn-floating btn-large waves-effect waves-light teal">
              <i class="fa fa-external-link"></i>
            </a>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card hoverable">
          <div class="card-image">
            <img src="/assets/img/cyber_game_banner.jpg" alt="Cyber Defense Simulation Game">
            <span class="card-title teal-text"  style="background-color: #ffffffcc;">Cyber Defense Simulation Game</span>
          </div>
          <div class="card-content">
            <p>
              An interactive role-based simulation game teaching students about cyber-attacks and defense strategies in public water systems. Developed in Unity, the game introduces key cybersecurity concepts, real-world job roles, and career pathways using scenario-based learning.
            </p>
          </div>
          <div class="card-action">
            <a href="/projects/cybershield-h2o/index.html" class="btn-floating btn-large waves-effect waves-light teal">
              <i class="fa fa-external-link"></i>
            </a>
          </div>
        </div>
      </div>

      <!-- Building Energy Modeling in Shipyards -->
      <div class="col s12 m4">
        <div class="card">
          <div class="card-image">
            <img alt="Energy Modeling" src="/assets/img/energy-modeling.jpg" style="width: 100%" />
            <span class="card-title teal-text"  style="background-color: #ffffffcc;">Building Energy Modeling in Shipyards</span>
          </div>
          <div class="card-content">
            <p>
              A new initiative focusing on energy modeling and efficiency improvements for shipyard facilities, integrating digital twin technology and simulation tools to support sustainable shipyard operations.
            </p>
            <p><b>Years:</b> 2024–Present</p>
            <p><b>Role:</b> Principal Investigator</p>
          </div>
        </div>
      </div>
      

    </div>
  </div>
</section>
