<section id="skills" class="section scrollspy">
    <h3 class="page-title white-text teal">Skills</h3>
    <div class="container">
      <div class="card">
        <div class="card-content">
          <h4 class="brown-text light">Programming Languages</h4>
          <div class="tools-logos">
            <div class="tool">
                <img src="/assets/logos/Python.png" alt="Python" />
              <span>Python</span>
            </div>
            <div class="tool">
              <img src="/assets/logos/JavaScript.png" alt="JavaScript" />
            <span>JavaScript</span>
          </div>
            <div class="tool">
                <img src="/assets/logos/HTML5.png" alt="HTML" />
              <span>HTML</span>
            </div>
            <div class="tool">
                <img src="/assets/logos/Csharp.png" alt="C#" />
              <span>C#</span>
            </div>
            <div class="tool">
                <img src="/assets/logos/Cpp.png" alt="C++" />
              <span>C++</span>
            </div>
            </div>
          </div>
          </div>
      <div class="card">
        <div class="card-content">
          <h4 class="brown-text light">Programming & Tools</h4>
          <div class="tools-logos">
            <div class="tool">
              <a href="https://react.dev/" target="_blank">
                <img src="/assets/logos/react.png" alt="React" /></a>
              <span>React</span>
            </div>
            <div class="tool">
              <a href="https://nodejs.org/" target="_blank">
                <img src="/assets/logos/node.svg" alt="Node.js" /></a>
              <span>Node.js</span>
            
            </div>
            <div class="tool">
              <a href="https://expressjs.com/" target="_blank">
              <img src="/assets/logos/express.svg" alt="Express.js" /></a>
              <span>Express.js</span>
              
            </div>
            <div class="tool">
              <a href="https://www.mongodb.com/" target="_blank">
                <img src="/assets/logos/mongodb.svg" alt="MongoDB" /></a>
              <span>MongoDB</span>
              </div>
                <div class="tool">
                  <a href="https://www.postgresql.org/" target="_blank">
                    <img src="/assets/logos/elephant.png" alt="PostgreSQL" /></a>
                  <span>PostgreSQL</span>
                </div>
                    <div class="tool">
                      <a href="https://www.microsoft.com/en-us/sql-server" target="_blank">
                        <img src="/assets/logos/sql_server.svg" alt="Microsoft SQL Server" /></a>
                      <span>Microsoft SQL Server</span>
                      </div>
                      <div class="tool">
                        <a href="https://www.mysql.com/" target="_blank">
                          <img src="/assets/logos/Mysql_logo.png" alt="MySQL" /></a>
                        <span>MySQL</span>
                        </div>
                      <div class="tool">
                <a href="https://unity.com/" target="_blank">
                  <img src="/assets/logos/Unity.svg" alt="Unity" /></a>
                <span>Unity</span>
              </div>
            </div>
          </div>
          
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <h4 class="brown-text light">Focus Areas</h4>
          <ul>
            <li>Modeling & Simulation</li>
            <li>AI/ML Applications in Maritime</li>
            <li>Data & Predictive Analytics</li>
            <li>Digital Shipbuilding</li>            
            <li>Game and VR Development</li>
            <li>STEM Outreach & Education</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  